{% load static %}

<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'posts:index' %}">
      <img src="{% static 'images/logo.png' %}" alt="">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="d-flex ms-auto">
        <input class="form-control input-sm me-2 text-center" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-sm btn-outline-success" type="submit">Search</button>
      </form>
      
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'posts:index' %}">
            <img src="{% static 'images/home.png' %}" alt="" height="22">
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">
            <img src="{% static 'images/send.png' %}" alt="" height="22">
          </a>
        </li>
 
        <li class="nav-item">
          <a class="nav-link" href="{% url 'posts:create' %}">
            <img src="{% static 'images/add.png' %}" alt="" height="22">
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'posts:create' %}">
            <img src="{% static 'images/navi.png' %}" alt="" height="22">
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'posts:create' %}">
            <img src="{% static 'images/heart.png' %}" alt="" height="22">
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'posts:create' %}">
            <img src="{% static 'images/home.png' %}" alt="" height="22">
          </a>
        </li>

      </ul>

    </div>
  </div>
</nav>